images/*
images\*
cookies.*
*.html
*.xml
test*
venv
vene\
.env
.idea
*.iml
*.png
!logo.png
*.session
*.session*
*.sqlite3*
downloads
*chromedriver*
*chromedriver.*
downloads/
chromedriver.exe
chromedriver
cookies.pkl
*.pkl