images/*
images\*
*__pycache__
*/__pycache__
*\__pycache__
__pycache__
cookies.*
*.html
*.xml
*.db
test*
venv
vene\
.env
.idea
*.iml
*.png
!logo.png
*.session
*.session*
*.sqlite3*
downloads
*chromedriver*
*chromedriver.*
downloads/
chromedriver.exe
chromedriver
cookies.pkl
*.pkl